:root {
    --BordaRedonda: 15px


}

.EL {
    background-repeat: repeat;
    background-position: center center;
    transition: 0.5s;
}

/*Crescimento / vertical de imagem*/
.EL_V{ background-size: auto 100%; }
.EL_V:hover { background-size: auto 60%; }

/*Crescimento / Horizontal de imagem*/
.EL_H{ background-size: 100% auto; }
.EL_H:hover { background-size: 60% auto; }


.E1 { background-image: url("../A_IMAGENS/PNG/JogoDaVelha.png");  }
.E2 { background-image: url("../A_IMAGENS/JPG/NarutoNome.jpg"); } 




